<%= form_for(@user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :email %>
    <%= email_field_tag 'user[email]', 'email@example.com', class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :gender %>
    <%= select_tag "user[gender]", options_for_select([ "Male", "Female" ], "Male"), class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :status %>
    <%= select_tag "user[status]", options_for_select([ "Member", "Retired" ], "Member"), class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary float-right' %>
  </div>
<% end %>
