<div class="card mt-5">
  <div class="card-header">
    <h3>Editing User</h3>
  </div>

  <div class="card-body">

    <%= render 'form', user: @user %>

    <%= link_to 'Show', @user, class: 'btn btn-primary text-white' %> |
    <%= link_to 'Back', users_path, class: 'btn btn-danger text-white' %>
  </div>
</div>

