<div class="card mt-5">
  <div class="card-header">
    <h3>Create User</h3>
  </div>
  <div class="card-body">
    <%= render 'form', user: @user %>

    <%= link_to 'Back', users_path, class: 'btn btn-danger text-white' %>
  </div>
</div>
