<p id="notice"><%= notice %></p>
<div class="card mt-5">
  <div class="card-header">
    <h3>
      Retired Users
      <%= link_to 'Show All Users', users_path, class: 'btn btn-danger text-white float-right' %>
    </h3>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Status</th>
          <th colspan="3" class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.gender %></td>
            <td><%= user.status %></td>
            <td class="text-center">
              <%= link_to '<i class="fas fa-eye"></i>'.html_safe, user, class: 'btn btn-sm btn-primary text-white', title: 'Show' %>
              <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_user_path(user), class: 'btn btn-sm btn-warning text-white', title: 'Edit' %>
              <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger text-white', title: 'Delete' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
