<div class="card mt-5">
  <div class="card-header">
    <h3>Show User</h3>
  </div>
  <div class="card-body">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Gender:</strong>
      <%= @user.gender %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @user.status %>
    </p>
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary text-white' %> |
    <%= link_to 'Back', users_path, class: 'btn btn-danger text-white' %>
  </div>
</div>

